/* font families */

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kanit', sans-serif; */